@page "/report"

@using RPS.Core.Models
@using RPS.Web.Server.Components.Dashboard
@using RPS.Web.Server.Components.Backlog
@using Telerik.ReportViewer.Blazor
@inject NavigationManager NavigationManager

<div class="dashboard">
    <ReportViewer ViewerId="rv1" ServiceUrl="/api/reports" 
        ReportSource="@(new ReportSourceOptions { Report = "RPSDashboardReport.trdp" } )" />
</div>

<link href="css/dashboard.css" rel="stylesheet" />

@code {

}

<style>
    .trv-report-viewer {
        width: 100%;
        height: 880px;
    }
</style>
